*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    <!-- "color: #ffffff;" -->
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.home_body {
    background-color: #F8F9FB;
    background-position-x: initial;
    background-position-y: initial;
}