@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    background-color: #F8F9FB;
    background-position-x: initial;
    background-position-y: initial;
    width: 100%;
    height: 100%;
}
header {
    width: auto;
    height: 50px;
    background-color: #147ABD;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
}
main {
    width: inherit;
    height: inherit;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
code {
    background: #ddd7d7;
    padding: 1px 1px;
    border-radius: 1px;
    font-size: 0.95em;
    font-weight: bold;
    font-family: "Courier New", monospace;
    word-break: keep-all;
    border: 1px solid #e6e6e6;
    text-shadow: 0 1px white;
}
.content {
    width: 75%;
    margin: 40px 0 40px 0;
    padding: 40px;
    align-items: start;
    background-color: white;
}
.btn_back {
    padding: 8px 30px;
    margin: auto 60px;
    background-color: #ec9d26;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Segoe UI Semibold";
    color: #ffffff;
    border-radius: 20px 20px 20px 20px;
}
.picTPK {
    float: left;
    min-width: 300px;
    max-width: 500px;
    padding: 0 20px 20px 0;
}
.pic {
    width: 70%;
}
.slova {
    font-family: 'Roboto', sans-serif
}
#button_to_2 {
    padding-top: 2vh;
    margin: 10px;
    text-align: center;
}
#button_to_3 {
    padding-top: 2vh;
    margin: 10px;
    text-align: center;
}
.button {
    text-transform: uppercase;
    padding: 15px;
    margin: 0 auto;
    background-color: #0e5f8a;
    font-size: 20px;
    font-family: "Segoe UI Semibold";
    color: #ffffff;
    width: 50%;
    max-width: 300px;
    text-align: center;
    border-radius: 50px 50px 50px 50px;
}