@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans+Condensed:wght@300&family=Roboto+Condensed:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    width: 210mm;
    height: 297mm;
    background: linear-gradient(to top, #9696fb, #f8f9fb, #fbf8f8);
}
input[type="text"] {
    border: none;
    background: #f8f9fb !important;
    outline: none;
    height: 12mm;
    width: 170mm;
    text-align: center;
    color: #000000;
    font-size: 12mm;
}
.top, .bot, .footer-bottom {
    display: flex;
    flex-flow: column nowrap;
}
.top, .footer-bottom {
    align-items: center;
    text-align: center;
}
.top {
    background-image: url("pic/SertificateBg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
footer {
    width: 210mm;
    height: auto;
    flex: 0 0 auto;
    font-size: 5mm;
    font-weight: bold;
}
#picTPK {
    width: 40mm;
    padding: 5mm 0 10mm 0;
}
#TPKdesc {
    text-align: center;
    font-size: 5mm;
    color: #F8F9FB;
}
#mid_desc1 {
    padding: 20mm 0 0 0;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20mm;
    color: #F8F9FB;
}
#mid_desc2 {
    padding: 0 0 5mm 0;
    text-transform: lowercase;
    font-size: 12mm;
}
.bot {
    padding: 10mm 0 10mm 0;
    font-size: 7mm;
}
#bot_desc1 {
    text-align: center;
}
#bot_desc2 {
    text-align: right;
    padding-right: 10mm;
}
#rukovoditel, #sekretar {
    margin-left: 10mm;
    margin-right: 10mm;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}